<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>幻灯片图1.png</string>
		<string>幻灯片图2.png</string>
		<string>幻灯片图3.png</string>
	</array>
	<array>
		<string>魅力风景流水</string>
		<string>远景小桥</string>
		<string>近景小桥</string>
	</array>
</array>
</plist>
